.card{
  background-size: cover;
  background-position: center;
}

.primary{

}

.secondary{

}

.outline{
  border: 1px solid red;
}

.small{
  padding: 15px 20px;
}

.medium{
  padding: 20px 25px;
}

.large{
  padding: 25px 30px;
}


