.card{
  background-size: cover;
  background-position: center;
  background-color: transparent;
}

.primary{

}

.secondary{

}

.outline{
  border-radius: 5px;
}

.small{
  padding: 15px 20px;
}

.medium{
  padding: 0 0 20px 0;
}

.large{
  padding: 25px 30px;
}


