.input{
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  border-radius: 6px;
  padding: 10px 0 10px 18px;
}

.small{
  width: 250px;
  font-size: var(--small-size);
}
.medium{
  width: 480px;
  font-size: var(--medium-size);
}

.large{
  width: 680px;
  font-size: var(--big-size);
}

.fullWidth{
  width: 100%;
}

.disabled{
  opacity: 0.5;
  pointer-events: none;
}