.text{
  font-family: 'Roboto',sans-serif;
}
.small{
  font-size: var(--small-size);
}

.medium{
  font-size: var(--medium-size);
}

.big{
  font-size: var(--big-size);
}

.primary{
  color: var(--primary-color);
}

.secondary{
  color: var(--secondary-color);
}